
<footer class="footer hidFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div style="padding-top: 5%;padding-bottom: 5%;text-align: center;margin: auto;">
                    <a class="navbar-brand" href="/">
                        <img src="https://res.cloudinary.com/novative-software/image/upload/v1650079975/logo_tcushb.png" 
                        style="width: 200px;height: 150px;" />
                    </a>

                    <!-- <div>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Terms & Conditions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Contact</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center"><b>Copyright&copy; {{currentYear}} - GlammieUp</b></p>
    </div>
</footer>