<div class="container mt-4">
    <div class="row">
        <div class="col-12 mt-4 mb-4">
            <h2 class="text-uppercase">Request</h2>
        </div>
             <div class="container" style="background-color: white;box-shadow: 0px 3px 35px #0000000F;">
                           <div class="row"> 
                               <div class="col-12">
                                <div class="pl-5 pr-5 pb-5 pt-5">
                                  
                                  <tabset class="member-tabset" #memberTabs>
                                    <tab heading='Current' (selectTab)="onTabActivated($event)">
                                       
                                    </tab>
                                    <tab heading='Past' (selectTab)="onTabActivated($event)">
                                       
                                    </tab>
                                </tabset>
                            </div>
                            </div>
  
                               
                            </div>
                        </div>
                        </div>
    </div>    
